click
Flask_Migrate
validators
alembic
requests
Jinja2
Flask
flask_sqlalchemy
python_magic

# vscan
clamd

# nsfw detection
torch
transformers
pillow

# mod ui
av
PyMuPDF
libarchive_c
textual
python-mpv

# dev
pytest
